@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1232px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

////////////////////
// フォント設定
////////////////////

$mincho-font: "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
$gothic-font: "Noto Sans JP", sans-serif;
$en-font: "EB Garamond", serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #000;
$white: #fff;
$font: #291000;
$darkbrown: #261102;
$base: #cbb94f;
$base2: #cbb84f;
$ocher: #91801b;
$ivory: #f7f6f0;
$yellow: #e5e0c6;
$red: #c38b79;
$blue: #8390ab;
$green: #7ca39d;
$sagegreen: #82a37c;
$pink: #c37990;
$purple: #9183ab;
$lightgray: #eaeaeb;
$bg-light: #f8f8f8;
$bg-lightblue: #f7f9fa;
$bg-beige: #f0eee1;
$date-blue: #5a8ae5;
$date-darkblue: #6687aa;
$date-yellow: #fec248;
$date-purple: #785fb0;
$date-violet: #b30b73;
$date-limegreen: #a4d60a;

body {
  font-family: $mincho-font;
  font-optical-sizing: auto;
  color: $font;
}

body.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
