@use "global" as *;

.c-button {
  display: inline-block;
  font-size: rem(16);
  font-weight: $semi-bold;
  color: $white;
  line-height: 1;
  text-transform: uppercase;
  padding: rem(17);
  background-color: $base;
  width: 100%;
  max-width: rem(315);
  text-align: center;
  transition: all 0.3s ease;
  @include mq(md) {
    font-size: rem(14);
    letter-spacing: 0.1em;
    padding: rem(15);
    max-width: rem(180);
  }
}

@media (hover: hover) {
  .c-button:hover {
    background-color: $black;
  }
}

.c-button--blank {
  @extend .c-button;
  text-transform: initial;
}

.c-button--blank span {
  padding-right: rem(19);
  position: relative;
  display: inline-flex;
  align-items: center;
}

.c-button--blank span::before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  width: rem(10);
  height: rem(10);
  background-image: url(../images/common/icon-blank.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
