@use "global" as *;

.c-pagetop {
  position: fixed;
  right: rem(10);
  z-index: 100;
  width: rem(35);
  height: rem(35);
  padding: 0;
  transform: rotate(-90deg);
  @include mq("md") {
    width: rem(50);
    height: rem(50);
    right: calc(30 / 1400 * 100%);
  }
}
