@use "global" as *;

.c-title {
  font-size: rem(16);
  font-weight: $semi-bold;
  line-height: calc(50 / 32);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include mq("md") {
    font-size: rem(20);
    line-height: calc(26 / 20);
  }
}
