@use "global" as *;

.p-about__swiper-wrap {
  margin-top: rem(30);
  position: relative;
  @include mq("md") {
    margin-top: rem(48);
  }

  .swiper {
    padding-bottom: rem(30);
    @include mq("md") {
      padding-bottom: 0;
    }
  }

  .swiper-slide {
    padding: 0 rem(15);
    height: auto;
    @include mq("md") {
      width: 100%;
      padding: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: initial;
    top: 50%;
    @include mq("md") {
      display: none;
    }
  }

  .swiper-button-prev {
    left: rem(-22);
  }

  .swiper-button-next {
    right: rem(-22);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none;
  }

  .swiper-pagination {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq("md") {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background-color: $darkgray;
    opacity: 1;
    width: rem(10);
    height: rem(10);
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 rem(6);
  }

  .swiper-pagination-bullet-active {
    background-color: $base;
    width: rem(14);
    height: rem(14);
  }
}

.p-about__list {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    padding-bottom: initial;
  }
}

.p-about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  @include mq("md") {
    gap: rem(18);
    padding: initial;
  }
}

.p-about__item-head {
  font-size: rem(16);
  font-weight: $semi-bold;
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: anywhere;
  @include mq("md") {
    font-size: rem(22);
    line-height: calc(32 / 22);
  }
}

.p-about__item-img {
  height: rem(90);
  @include mq("md") {
    height: rem(100);
  }
}

.p-about__item-img img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.p-about__item-text {
  font-size: rem(13);
  font-weight: $medium;
  line-height: calc(50 / 26);
  letter-spacing: 0.15em;
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(24 / 14);
    letter-spacing: initial;
    flex-grow: 1;
  }
}

.p-about__item-text--delta {
  @extend .p-about__item-text;
  @include mq("md") {
    letter-spacing: 0.06em;
  }
}
