@use "global" as *;

.p-archive-works__content {
  margin-top: rem(30);
}

.p-archive-works__paginaition {
  margin-top: rem(50);
}

.p-archive-works__button {
  margin-top: rem(50);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-archive-works__button-top {
  text-align: center;
}
