@use "global" as *;

.p-buttons {
  display: flex;
  gap: rem(20);
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    justify-content: center;
    gap: rem(32);
  }
}

.p-buttons__button {
  width: 100%;
  text-align: center;
  max-width: rem(315);
  @include mq("md") {
    max-width: rem(180);
  }
}
