@use "global" as *;

.p-case__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-case__button {
  margin-top: rem(50);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-case__pagenavi {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-case__nav-buttons {
  margin-top: rem(50);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    gap: rem(32);
    justify-content: center;
  }
}
