@use "global" as *;

.p-contact {
  padding: rem(50) 0;
  background-color: $beige;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.p-contact__content {
  margin-top: rem(30);
  padding: rem(30) rem(20);
  background-color: $contact;
  position: relative;
  @include mq("md") {
    margin-top: rem(48);
    padding: rem(60);
  }
}
