@use "global" as *;

.p-case-article__top {
  background-color: $beige;
  padding: rem(50) 0;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.p-case-article__top-content {
  @include mq("md") {
    display: flex;
    gap: rem(40);
  }
}

.p-case-article__top-body {
  @include mq("md") {
    flex: 1;
  }
}

.p-case-article__top-category {
  display: flex;
  gap: rem(10);
  flex-wrap: wrap;
  @include mq("md") {
    margin-top: rem(2);
  }
}

.p-case-article__top-content .p-case-article__top-title:first-of-type {
  margin-top: rem(8);
  @include mq("md") {
    margin-top: rem(10);
  }
}

.p-case-article__top-text {
  margin-top: rem(10);
  text-align: justify;
  @include mq("md") {
    margin-top: rem(24);
  }
}

.p-case-article__top-img {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: initial;
    width: calc(460 / 960 * 100%);
  }
}

.p-case-article__top-img img {
  aspect-ratio: 630/419;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: rem(6);
}

.p-case-article__top-comment {
  margin-top: rem(20);
  padding: rem(20);
  background-color: $white;
  @include mq("md") {
    margin-top: rem(28);
    padding: rem(40) rem(40) rem(30);
  }
}

.p-case-artcile__bottom {
  margin-top: rem(50);
  overflow-x: hidden;
  @include mq("md") {
    margin-top: rem(100);
  }
}

.p-case-article__bottom-item {
  @include mq("md") {
    display: flex;
    gap: rem(40);
  }
}

.p-case-article__bottom-item:not(:first-child) {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.p-case-article__bottom-item:nth-child(even) {
  @include mq("md") {
    flex-direction: row-reverse;
  }
}

.p-case-article__bottom-body {
  @include mq("md") {
    width: calc(460 / 960 * 100%);
  }
}

.p-case-article__bottom-title.c-title {
  line-height: calc(60 / 32);
  @include mq("md") {
    letter-spacing: 0;
  }
}

.p-case-article__bottom-text {
  margin-top: rem(10);
  text-align: justify;
  @include mq("md") {
    margin-top: rem(16);
  }
}

.p-case-article__bottom-img {
  margin-top: rem(30);
  margin-right: calc(50% - 50vw);
  @include mq("md") {
    margin-top: initial;
    flex: 1;
  }
}

.p-case-article__bottom-item:nth-child(even) .p-case-article__bottom-img {
  margin-right: initial;
  margin-left: calc(50% - 50vw);
}

.p-case-article__bottom-img img {
  aspect-ratio: 690/408;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(6) 0 0 rem(6);
}

.p-case-article__bottom-item:nth-child(even) .p-case-article__bottom-img img {
  border-radius: 0 rem(6) rem(6) 0;
}
