@use "global" as *;

.p-feature__head {
  text-align: center;
}

.p-feature__head-main {
  font-size: rem(20);
  font-weight: $semi-bold;
  line-height: calc(60 / 40);
  word-break: keep-all;
  overflow-wrap: anywhere;
  @include mq("md") {
    font-size: clamp(20px, calc(28 / 1400 * 100vw), 28px);
    line-height: calc(50 / 28);
    letter-spacing: 0.1em;
  }
}

.p-feature__head-sub {
  display: block;
  font-size: rem(12);
  font-weight: $semi-bold;
  line-height: calc(50 / 28);
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: rem(16);
  }
}

.p-feature__inner.l-inner {
  padding: initial;
  @include mq("md") {
    max-width: rem(760);
  }
}

.p-feature__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(44);
  }
}

.p-feature__img img {
  aspect-ratio: 630/328;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(6);
  @include mq("md") {
    aspect-ratio: 760/396;
  }
}

.p-feature__text {
  margin-top: rem(16);
  @include mq("md") {
    text-align: center;
    margin-top: rem(20);
  }
}

.p-feature--delta {
  @extend .p-feature__text;
}

.p-feature--delta .p-feature__head-main {
  letter-spacing: 0.05em;
  @include mq("md") {
    letter-spacing: 0.1em;
  }
}
