@use "global" as *;

.p-footer {
  background-color: $base;
  padding: rem(50) 0 rem(10);
  @include mq("md") {
    padding-top: rem(40);
  }
}

.p-footer__inner.l-inner {
  @include mq("md") {
    max-width: initial;
    padding-left: rem(40);
    padding-right: rem(20);
  }
}

.p-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    align-items: start;
    gap: rem(20);
  }
}

.p-footer__logo {
  max-width: rem(100);
  @include mq("md") {
    max-width: rem(80);
  }
}

.p-footer__logo a {
  display: block;
}

.p-footer__logo img {
  aspect-ratio: 100/93;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-footer__info {
  margin-top: rem(30);
  font-weight: $medium;
  color: $white;
  @include mq("md") {
    margin-top: initial;
    flex: 1;
  }
}

.p-footer__address {
  font-size: rem(13);
  font-style: normal;
  line-height: 1.9;
  letter-spacing: 0.15em;
  @include mq("md") {
    font-size: rem(14);
    line-height: 1.8;
  }
}


.p-footer__info-text {
  margin-top: rem(10);
  font-size: rem(11);
  line-height: 2;
  @include mq("md") {
    margin-top: rem(16);
    font-size: clamp(11px, (12/1400 * 100vw), 12px);
    line-height: calc(20 / 12);
    letter-spacing: 0.15em;
  }
}

.p-footer__nav {
  margin-top: rem(16);
  width: 100%;
  @include mq("md") {
    width: calc(530 / 1320 * 100%);
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: end;
    row-gap: rem(40);
  }
}

.p-footer__text-wrap {
  margin-top: rem(30);
  color: $white;
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
    padding-right: rem(20);
  }
}

.p-footer__text {
  font-size: rem(9);
  font-weight: $medium;
  line-height: calc(32 / 18);
  letter-spacing: 0.15em;
  @include mq("md") {
    font-size: 8px;
    line-height: 2;
  }
}

.p-footer__copyright {
  margin-top: rem(2);
  line-height: 1;
}

.p-footer__copyright small {
  font-size: rem(9);
  font-weight: $regular;
  font-family: $en-font;
  line-height: 1;
  text-transform: uppercase;
  @include mq("md") {
    font-size: 10px;
  }
}
