@use "global" as *;

.p-header {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
  height: rem(65);
  background-color: $white;
  @include mq("md") {
    height: rem(78);
  }
}

.p-header__inner {
  padding: 0 rem(15);
  height: inherit;
  display: flex;
  align-items: center;
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.p-header__logo {
  height: inherit;
  display: flex;
  align-items: center;
}

.p-header__nav {
  display: none;
  height: inherit;
  margin-left: auto;
  @include mq("md") {
    display: flex;
    align-items: center;
    gap: rem(20);
  }
}

.p-header__nav-items {
  display: flex;
  height: inherit;
}

.p-header__nav-item {
  height: inherit;
}

.p-header__nav-link {
  padding: 0 rem(20);
  height: inherit;
  display: flex;
  align-items: center;
  font-family: $en-font;
  font-size: rem(14);
  font-weight: $medium;
  letter-spacing: 0.02em;
  line-height: 1;
  color: $base;
  text-transform: uppercase;
}

.p-header__nav-link span {
  position: relative;
}

.p-header__nav-link span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scale(0);
  height: 1px;
  background-color: $base;
  transition: 0.3s;
}

@media (hover: hover) {
  .p-header__nav-link span:hover::after {
    transform: scale(1);
  }
}

.p-header__hamburger {
  margin: 0 0 0 auto;
  padding: 0;
  position: relative;
  z-index: 999;
  width: rem(24);
  height: inherit;
  transition: 0.3s;
  @include mq("md") {
    display: none;
  }
}

.p-header__hamburger.is-open {
  background-color: transparent;
}

.p-header__hamburger span {
  position: relative;
  display: block;
  width: 100%;
  height: rem(3);
  background-color: $base;
  transition: 0.3s;
}

.p-header__hamburger span:nth-of-type(1) {
  top: rem(-4);
}

.p-header__hamburger span:nth-of-type(2) {
  top: 0;
}

.p-header__hamburger span:nth-of-type(3) {
  top: rem(4);
}

.p-header__hamburger.is-open span {
  background-color: $white;
}

.p-header__hamburger.is-open span:nth-of-type(1) {
  top: rem(2);
  transform: rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
  top: rem(-4);
  transform: rotate(-45deg);
}

.p-header__drawer {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: $base;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.p-header__drawer.is-open {
  visibility: visible;
  opacity: 1;
}

.p-header__drawer-wrap {
  overflow-y: auto;
  height: 100%;
  padding: rem(126) 0 rem(50);
}
