@use "global" as *;

.p-instagram__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-instagram__button {
  margin-top: rem(50);
  text-align: center;
  @include mq("md") {
    margin-top: rem(20);
  }
}
