@use "global" as *;

.p-list__item {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}

.p-list__item:nth-child(even) {
  @include mq(md) {
    flex-direction: row-reverse;
  }
}

.p-list__item:not(:first-child) {
  margin-top: rem(48);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.p-list__item-img {
  position: relative;
  margin-left: calc(50% - 50vw);
  border-radius: 0 rem(6) rem(6) 0;
  @include mq("md") {
    flex: 1;
  }
}

.p-list__item:nth-child(even) .p-list__item-img {
  position: relative;
  margin-left: initial;
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    flex: 1;
  }
}

.p-list__item-img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 700/466;
  object-fit: cover;
  @include mq(md) {
  }
}

.p-list__item-img:nth-child(even) img {
  border-radius: rem(6) 0 0 rem(6);
}

.p-list__item-img::before {
  content: "";
  position: absolute;
  top: min(-18px, -5vw);
  left: 0;
  width: calc(320 / 750 * 100vw);
  height: calc(74 / 750 * 100vw);
  background-image: url(../images/common/text-img1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("md") {
    width: calc(340 / 1400 * 100vw);
    height: calc(75 / 1400 * 100vw);
    top: calc(-38 / 1400 * 100vw);
  }
}

.p-list__item:nth-child(even) .p-list__item-img::before {
  content: "";
  position: absolute;
  top: min(-16px, -4.5vw);
  left: initial;
  right: 0;
  width: calc(606 / 750 * 100vw);
  height: calc(67 / 750 * 100vw);
  background-image: url(../images/common/text-img2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("md") {
    width: calc(616 / 1400 * 100vw);
    height: calc(67 / 1400 * 100vw);
    top: calc(-32 / 1400 * 100vw);
  }
}

.p-list__item-body {
  margin-top: rem2(40);
  @include mq("md") {
    margin-top: initial;
    width: calc(440 / 960 * 100%);
  }
}

.p-list__item-head {
  font-weight: $semi-bold;
  letter-spacing: 0.05em;
  @include mq("md") {
    letter-spacing: 0.034em;
  }
}

.p-list__item-head-main {
  font-size: rem(16);
  line-height: calc(50 / 32);
  word-break: keep-all;
  overflow-wrap: anywhere;
  @include mq("md") {
    font-size: rem(24);
    line-height: calc(38 / 24);
    letter-spacing: 0.034em;
  }
}

.p-list__item-head-sub {
  font-size: rem(12);
  line-height: calc(50 / 24);
  letter-spacing: 0.05em;
  display: block;
  @include mq("md") {
    margin-top: rem(10);
    font-size: rem(14);
    line-height: 1;
  }
}

.p-list__item-head--delta {
  @extend .p-list__item-head;
}

.p-list__item-head--delta .p-list__item-head-main {
  @include mq("md") {
    letter-spacing: 0.1em;
  }
}

.p-list__item-text {
  margin-top: rem(10);
  font-size: rem(13);
  font-weight: $medium;
  line-height: calc(50 / 26);
  text-align: justify;
  @include mq("md") {
    margin-top: rem(32);
    font-size: rem(14);
    line-height: calc(30 / 14);
  }
}

.p-list__item-button {
  margin-top: rem(26);
  text-align: center;
  @include mq("md") {
    margin-top: rem(24);
    text-align: left;
  }
}
