@use "global" as *;

.p-message {
  padding: rem(50) 0;
  background-image: url(../images/top/bg@2x.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include mq("md") {
    padding: rem(160) 0 rem(100);
    background-image: url(../images/top/bg_pc@2x.webp);
  }
}

.p-message__body {
  margin-top: rem(30);
  width: fit-content;
  margin-inline: auto;
  @include mq("md") {
    text-align: center;
  }
}

.p-message__text {
  font-size: rem(13);
  font-weight: $medium;
  line-height: calc(50 / 26);
  text-transform: uppercase;
  @include mq("md") {
    margin-top: rem(48);
    font-size: rem(14);
    letter-spacing: 0.15em;
    line-height: calc(32 / 14);
  }
}

.p-message__text:not(:first-child) {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(32);
  }
}
