@use "global" as *;

.p-plan {
  padding: rem(50) 0;
  background-color: $beige;
  overflow: hidden;
  @include mq("md") {
    padding: rem(100) 0;
  }
}


.p-plan__content {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: rem(86);
  }
}

.p-plan__button {
  margin-top: rem(50);
  text-align: center;
  @include mq("md") {
    margin-top: rem(60);
  }
}
