@use "global" as *;

.p-profile__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(48);
    display: flex;
    gap: rem(30);
    align-items: start;
  }
}

.p-profile__img {
  margin-inline: auto;
  width: calc(295 / 630 * 100%);
  @include mq("md") {
    width: calc(300 / 960 * 100%);
  }
}

.p-profile__img img {
  aspect-ratio: 295/295;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.p-profile__body {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: initial;
    flex: 1;
  }
}

.p-profile__text {
  font-size: rem(13);
  font-weight: $medium;
  line-height: calc(50 / 26);
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(30 / 14);
    letter-spacing: 0.11em;
  }
}

.p-profile__name {
  font-size: rem(16);
  font-weight: $medium;
  line-height: calc(50 / 32);
  letter-spacing: 0.05em;
  @include mq("md") {
    margin-top: rem(6);
    font-size: rem(20);
    line-height: 1;
    letter-spacing: 0.034em;
  }
}

.p-profile__text {
  margin-top: rem(14);
  text-align: justify;
  @include mq("md") {
    margin-top: rem(24);
    letter-spacing: 0.05em;
  }
}
