@use "global" as *;

.p-sub-fv {
  height: rem(233);
  height: max(35vw, rem(233));
  position: relative;
  @include mq("md") {
    height: rem(300);
  }
}

.p-sub-fv__bg {
  position: relative;
  height: inherit;
}

.p-sub-fv__bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($base, 0.3);
}

.p-sub-fv__bg img {
  aspect-ratio: 750/467;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 14/3;
  }
}

.p-sub-fv__inner.l-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq("md") {
    top: 45%;
  }
}

.p-sub-fv__inner--article.l-inner {
  @extend .p-sub-fv__inner;
  @include mq("md") {
    top: 50%;
  }
}
