@use "global" as *;

.p-works {
  padding: rem(50) 0;
  background-color: $beige;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.p-works__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-works__button {
  margin-top: rem(50);
  text-align: center;
  @include mq("md") {
    margin-top: rem(48);
  }
}
