@use "global" as *;

.breadcrumb {
  position: absolute;
  top: rem(17);
  left: rem(15);
  z-index: 1;
  display: flex;
  gap: rem(10);
  font-size: rem(10);
  font-weight: $bold;
  color: $white;
  line-height: 1;
  @include mq("md") {
    font-size: 12px;
    gap: rem(12);
    top: calc(30 / 1400 * 100vw);
    left: calc(20 / 1400 * 100%);
  }
}

.breadcrumb span > a {
  position: relative;
  text-decoration: underline;
}
