@use "global" as *;

.flow-item {
  display: flex;
  gap: calc(80 / 1232 * 100%);
  @include mq("md") {
    position: relative;
  }
}

.flow-item__left {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    position: absolute;
    top: rem(-20);
    left: 50%;
    transform: translateX(-50%);
    // top: rem(-20);
    // left: rem(8);
    // top: rem(-56);
  }
}

.flow-item__left::after {
  content: "";
  position: absolute;
  display: block;
  top: rem(78);
  width: 1px;
  height: calc(365 / 411 * 100%);
  background-color: $base;
  margin-top: rem(8);
  @include mq("md") {
    content: none;
  }
}

.flow-list__item:last-child .flow-item__left::after {
  height: calc(266 / 344 * 100%);
}

.flow-item__number {
}

.flow-item__number::before {
  content: counter(flow-item-counter);
  font-size: rem(48);
  font-weight: $regular;
  font-family: $en-font;
  color: $base2;
  line-height: 1;
  letter-spacing: 0.05em;
  display: block;
  @include mq("md") {
    font-size: rem(36);
  }
}

.flow-item__right {
  width: calc(1126 / 1232 * 100%);
  background-color: $white;
  padding: rem(60) rem(66);
  @include mq("md") {
    width: 100%;
    padding: rem(28) rem(20) rem(40);
  }
}

.flow-list__item:not(:first-child) .flow-item__right {
  padding-bottom: rem(71);
  @include mq("md") {
    padding-bottom: rem(40);
  }
}

.flow-item__title {
  @include mq("md") {
    text-align: center;
    overflow-wrap: anywhere;
    word-break: keep-all;
    //   padding-left: rem(10);
  }
}

.flow-item__text {
  margin-top: rem(12);
  padding-top: rem(16);
  border-top: 1px solid $lightgray;
  text-align: justify;
  @include mq("md") {
    margin-top: rem(20);
  }
}

.flow-item__buttons {
  margin-top: rem(24);
  display: flex;
  gap: rem(24);
  @include mq("md") {
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: rem(32);
  }
}

.flow-item__button {
  width: 100%;
  max-width: rem(278);
}
